//- Source: http://realfavicongenerator.net/
link(rel="apple-touch-icon", sizes="180x180", href=faviconsPath + "/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href=faviconsPath + "/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href=faviconsPath + "/favicon-16x16.png")
link(rel="shortcut icon", href=faviconsPath + "favicon.ico")
link(rel="manifest", href=faviconsPath + "/site.webmanifest")
link(rel="mask-icon", href=faviconsPath + "/safari-pinned-tab.svg", color=safariPinnedTabColor)
meta(name="msapplication-TileColor", content=msApplicationTileColor)
meta(name="theme-color", content=themeColor)
